@charset "UTF-8";
 #user-header {
        border: #bcbcbc;
        text-align: right;
      }
 
 #user-header a{text-decoration:none; color:#000000;} 
 #user-header a:hover{color:#ff0000;}
 
 #user-header ul li { display:inline; /* 세로나열을 가로나열로 변경  */
     /*  border-right:1px solid #999; */ /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시)  */
      font: 13px Sans; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시  */
      padding:0 1px; /* 각 메뉴 간격  */} 
 #user-header ul li:last-child{border-right:none;}


 