@charset "UTF-8";
#user-sidebar {
        width: 230px;
        padding: 0px;
        /* margin-right: 10px; */
        float: left;
      }
  
 #user-sidebar a{text-decoration:none; color:#000000;} 
 #user-sidebar a:hover{color:#ff0000;}
 #user-sidebar ul{list-style:none;padding-left:0px;}
      

 
