@charset "UTF-8";
/* *{
    margin:0;
    padding:0;
}
body{
    font-family:tahoma,sans-serif,arial,verdana;
    font-size:0.74em;
} */
#all-paging a{
    color:#555;
    text-decoration:none;
}
 
#all-paging{
    text-align:center;
    line-height:1.3em;
    margin-top:10px;
}
#all-paging a,
#all-paging strong{
    padding:2px 5px;
    border:1px solid #CCC;
    display:inline-block;
}
#all-paging a:hover,
#all-paging strong{
    color:#000;
    border:1px solid #666;
    background:#F0F0F0;
}

#all-paging li { 
	display:inline;
}