@charset "UTF-8";
.button {
    width:100px;
    height:40px;
    background-color: #000000;
    border: none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.button-mini {
    width:50px;
    height:30px;
    background-color: #000000;
    border: none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

.button-long {
    width:200px;
    height:50px;
    background-color: #000000;
    border: none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.button-map {
    width:100px;
    height:100px;
    background-color: #000000;
    border: none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: default;
	margin: 10px;
}


.button:hover {
    background-color: #808080;
}

/* input{
	display:none;
}

label{
	display:inline-block;
	margin:0 0 -1px;
	padding: 15px 25px;
	font-weight:600;
	text-align:center;
	color:#bbb;
	border:1px solid transparent;
}

label:hover{
	color:#2e9cdf;
	cursor:pointer;
}
input:checked+label{
	color:#555;
	border:1px solid #ddd;
	border-top:2px solid #2e9cdf;
	border-bottom:1px solid #ffffff;
} */