@charset "UTF-8";
#all-content {
        width: 1050px;
        padding: 0px;
        margin-bottom: 0px;
        float: right;
        text-align:center;
      }
      

.item{
width:300px;
float:left;
margin:0 13px;
text-align:center;
}