@charset "UTF-8";
#all-writepost hr {
    border: 0;
    width: 750px;
    height: 2px;
    background: #ccc;
  }
  
.textborder1{
border:0;
font-size:25px;
font-weight:500;
width:750px;
height:30px;
}

#all-writepost input:focus{outline:none;}

.textborder2{
border:0;
font:Sans;
width:750px; 
height:500px;
resize:none;
}
#all-writepost textarea:focus{outline:none;}

/* .file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:100px;
    height:30px;
    background:white;
    color:#5b98de;
    text-align:left;
    line-height:30px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width:400px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:0px solid #777;
}

 */
