@charset "UTF-8";
#all-search{
	height:40px;
	width:230px;
	border: 2px solid #000000;
	background: #ffffff;
}
#all-search input{
	font-size: 16px;
	width: 150px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}
#all-search button{
	width: 50px;
	height: 100%;
	border: 0px;
	background: #000000;
	outline: none;
	float: right;
	color: #ffffff
}
.txtBox10{ 
	border-style: solid; 
	border-width: 0 0 0 8px; 
	padding: 12px; 
	word-break: break-all; 
	border-color: LightGray; 
	/* border-color:black; */
	} 
.txtBox00 { 
	border-style: solid; 
	border-width: 2px; 
	padding: 12px; 
	word-break: break-all; 
	border-color: LightGray;
	/* border-color:black; */
	border-radius: 8px;
	} 



